[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ext/tinyformat"]
	path = ext/tinyformat
	url = https://github.com/c42f/tinyformat.git
[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
[submodule "ext/args"]
	path = ext/args
	url = https://github.com/Taywee/args.git
